#logo {
  text-align: center;
  margin: 10px;
  border: 10px;
}

#marcador {
  background-color: #0dcaf0;
  height: 15cm;
}

#reset {
  position: relative;
  left: 35%;
  bottom: 25px;
}

#estado {
  text-align: center;
  font-size: x-large;
}

#maquina {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#jugador {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#imagen-jugador {
  max-width: 10%;
  opacity: 1;
  mix-blend-mode: multiply;
}

#imagen-maquina {
  max-width: 10%;
  opacity: 1;
  mix-blend-mode: multiply;
  position: relative;
  left: 90%;
  bottom: 2.45cm;
}

#piedra {
  position: static;
  max-width: 3.5cm;
  margin: 5px;
  opacity: 0.8;
  right: 45cm;
}

#papel {
  position: static;
  max-width: 3.5cm;
  margin: 5px;
  opacity: 0.8;
  right: 32cm;
}

#tijera {
  position: static;
  max-width: 3.5cm;
  margin: 5px;
  opacity: 0.8;
  margin-right: 11cm;
}

.col-sm-4 {
  text-align: center;
  margin-top: 1cm;
}

.narracion {
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 2cm;
}

#piedra:hover {
  color: rgb(116, 223, 255);
  background-color: white;
  border: 3px solid rgb(125, 255, 157);
  transform: scale(1.2);
}

#papel:hover {
  color: rgb(116, 223, 255);
  background-color: white;
  border: 3px solid rgb(125, 255, 157);
  transform: scale(1.2);
}

#tijera:hover {
  color: rgb(116, 223, 255);
  background-color: white;
  border: 3px solid rgb(125, 255, 157);
  transform: scale(1.2);
}

#jugar {
  position: relative;
  left: 8cm;
}

.oculto {
  display: none;
}
